html {
      background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
      background-size: cover;
      font-family: 'helvetica neue';
      text-align: center;
      font-size: 10px;
}
body {
    margin: 0;
    display: flex;
    /* Means flex-grow: 1 and flex-shrink: 1 i.e flex will grow and shrink in same proportion as window size
    flex-basis: 0 means the div does not have a starting value as such and will take up screen as per the screen 
    size available for e.g:- if 3 divs are in the wrapper then each div will take 33%. */
    flex: 1; 
    align-items: center;
    /* CSS3 gives us viewport-relative units. 100vw means 100% of the viewport width. 100vh; 100% of the height */
    min-height: 100vh;
    /* REM as in Root EM. While em is relative to the font size of its direct or nearest parent, 
    rem is only relative to the html (root) font-size */
    font-size: 2 rem;

}
.clock {
    border: 20px solid white;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2 rem;
    box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}
.clock-face {
    position: relative;
    height: 100%;
    width: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}
.hand {
    width: 50%;
    height: 6px;
    background: black;
    /* https://dzone.com/articles/css-position-relative-vs-position-absolute */
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
} 